[submodule "vendor/google/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark.git
[submodule "vendor/catchorg/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
